<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255136407653-ea5tkg6q51k3ivt7qgahrs6dke2ul9ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255136407653-ea5tkg6q51k3ivt7qgahrs6dke2ul9ik</string>
	<key>API_KEY</key>
	<string>AIzaSyDfRLmr2A5DQHc75OBWB7aCnCHp50aSSHM</string>
	<key>GCM_SENDER_ID</key>
	<string>255136407653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NIBM.cobsccomp202p021</string>
	<key>PROJECT_ID</key>
	<string>nibm-broker-3dc09</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-broker-3dc09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255136407653:ios:362983f8dc9fa22212268c</string>
</dict>
</plist>